name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Generate TAG
      id: generate_tag
      run: |
        SHA=$(echo $GITHUB_SHA | head -c7)
        echo "sha=$SHA" >> $GITHUB_OUTPUT

    - name: Build and Push the Docker image
      run: |
        docker login --username jvictormarques --password ${{ secrets.GHCR_PSWD }} ghcr.io
        docker build ./app --tag ghcr.io/jvictormarques/react-image:latest
        docker tag ghcr.io/jvictormarques/react-image:${{ steps.generate_tag.outputs.sha }} ghcr.io/jvictormarques/react-image:latest
        docker push --all-tags ghcr.io/jvictormarques/react-image